<ion-header>
  <ion-toolbar color="medium">
    <ion-title text-center>
      Contact Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-card> <ion-img src="../assets/slide2.jpg"></ion-img></ion-card>
<ion-content>
<ion-card-header><h4>Corporate Head Quarters
    Bhilwara Infotechnology Limited</h4></ion-card-header>
   <ion-item> Bhilwara Towers<br />
    A-12, Sector-1<br />
    Noida-201301<br />
    NCR-Delhi, India<br />
    Phone: +91-120-4390000<br />
    Fax: +91-120-2440294<br />
    e-mail: contact@bhilwarainfo.com</ion-item>
</ion-content>
