<ion-header>
  <ion-toolbar color="medium">
    <ion-title text-center>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
    <ion-card class="welcome-card">
     <h1 text-center>Welcome to Bhilwara</h1>
      </ion-card>
   
      <ion-img src="../assets/slide2.jpg"></ion-img>
      

    <ion-toolbar>
    <ion-item text-center>About Us</ion-item>
    </ion-toolbar>
    <ion-item>
         <p>Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.<br /><br/>

            Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.To meet various IT. </p>
    </ion-item>
    
</ion-content> -->
<ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title text-center>Bhilwara Info Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content padding>
        <ion-img src="../assets/slide2.jpg"></ion-img>
     </ion-card-content>
  </ion-card>   
  
  
  <ion-card>
    <ion-item>
      <h2>Project 1</h2>
      <!-- <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated"><h3>Project 2</h3> </ion-item>
      <ion-card-content>
          This is content, without any paragraph or header tags,
          
        </ion-card-content>
      <!-- <ion-icon name="wifi" slot="start"></ion-icon> -->
      <!-- <ion-label>Card Link Item 1 .activated</ion-label> -->
   
  
    <ion-item href="#"><h3>Project 3</h3></ion-item>
      <ion-card-content>
          This is content, without any paragraph or header tags,
        
        </ion-card-content>
      <!-- <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label> -->
    
  
    <ion-item class="activated"><h3>Project 3</h3></ion-item>
      <ion-card-content>
          This is content, without any paragraph or header tags,
        
        </ion-card-content>
      <!-- <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 .activated</ion-label> -->
    
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card>
