<ion-header>
  <ion-toolbar color="medium">
    <ion-title text-center>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding><br />
  <ion-item>
      Bhilwara Infotechnology Limited (BIL) is a dedicated technology consulting and implementation company and is a part of the LNJ Bhilwara Group, one of the largest employers in India.
<br /><br />
      Our team of highly skilled, experienced and motivated professionals are committed towards harnessing technology for providing the best solutions to our customers. Our corporate goal is to provide the best products and services to our customers and build strong and long-term relationship with them.
  </ion-item>
  <a  href="https://docs.google.com/forms/d/12yS9bq7i32wMhNEnRi2YPev_KDuyi1dRBvy8ctxwhGo/edit">Feedback</a>
</ion-content>
